<!doctype html>
<head>
  <title>Hello from Flask</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>

  {% if name %}
    <h1>Hello, {{ name }}!</h1>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}
  <br>
  <a class="waves-effect waves-light btn">button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
</body>
